@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my site</h1>
    <p>This is a where I put all the stuff that I have learn for a quick reference when I need it</p>
</div>
